ember-snip {
  display: block;
  overflow: auto;
}

ember-snipee {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  will-change: top, left, width, height;
  box-shadow: inset  1px  1px 0 0 rgba(28, 77, 70, 0.9),
              inset -1px -1px 0 0 rgba(28, 77, 70, 0.9);
  background-color: rgba(28, 77, 70, 0.666);
  z-index: 10;
}
